body {
    font-family: 'Merriweather', serif;
 

}

.nav-item {
    margin-right: 50px;
    color: grey;
}
a {
    color: #6B3A9C;
}
.cardSection {
    display: flex;
    justify-content: center;
    
}
.UXUI {
    display: block;
    position: relative;
    border: 2px solid black;
    height: 250px;
    width: 50px;
}

.labelLeft {
    flex-wrap: wrap-reverse;
    text-orientation: sideways;
}

.jumbo1 {
    height: 700px;
    background-image: url("../images/PurpleDream.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    z-index: 800;
    margin-bottom: 300px;
    font-family: 'Heebo', sans-serif;
}

.Nathaniel {
    font-family: 'Merriweather', serif;
    font-size: 110px;
    position: absolute;
    top: 15%;
}
#NuThanUl  {
    font-size: 40px;
  
}
.italics {
    font-style: italic;
}
.pronunciation {
    font-size: 20px;
    position: absolute;
    left: 53%;
    top: 35%;
    text-align: left;
}
.syllable{
    font-size: 30px;
    font-style: italic;
    /* font-family: 'Heebo', sans-serif; */
    font-family: 'Merriweather', serif;
}





#Portfolio {
    font-size: 460px;
    font-family: 'Heebo', sans-serif;
    position: relative;
    left: -43px;

}

#portfolioCont {
    position: sticky;
    top: 0px;
    overflow: hidden;
    z-index: -50;
    bottom: 100px;
    margin-bottom: 100px;

}

.cardSection {
    /* height: 80%; */
}
.card {
    margin: 0 5% 18%;
    width: 35%;
}
.card-title {
    font-weight: bold;
}
.card-text {
    font-weight: 400;
}
.listItem {
    padding: 25px;
}
.skillsList {
    position: relative;
    top: 0px;
    z-index: 500;
    width: 50vw;
}

.btn {
    background-color: #6B3A9C;
    /* color: #6B3A9C; */
}






.blank {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 100%;
    background-color: white;
    z-index: 10;
    position: sticky;
    top: 0px;
    margin-top: 75px;
    border-top: 20px solid #6B3A9C;
}


.skillsSectionREDO {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1500;
    height: 40vh;
    align-items: center;
    top: -32%;
    margin-top: 20%;
}
#skillsHead {
    font-weight: bold;
    font-size: 4.2rem;
    margin-bottom: 7%;
}
.buttonSection {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.skillsButton {
    width: 15%;
    height: 115%;

}

#purpleLine {
    width: 80%;
    height: 20px;
    background-color: #6B3A9C;
    margin-top: 5%;
    position: relative;
  

}


.jumbo2 {
    position: relative;
    display: flex;
    float: left;
    width: 85%;
    margin-top: 6%;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    color: white;
    background-image: linear-gradient(to right top, #ff0000, #f8003a, #e5005c, #c60077, #9f0089, #8b0190, #740a96, #56159c, #5c209c, #61299c, #66329c, #6b3a9c);
}

.ovalFace {
  width: 30%;
  margin: -2% 0 3%;
}

#AboutMe h1 {
    font-size: 3em;
    margin-bottom: 3%;
}

#AboutMe .btn {
    margin-top: 3%;
}

.footer {
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    background-image: linear-gradient(to right top, #ff0000, #f8003a, #e5005c, #c60077, #9f0089, #8b0190, #740a96, #56159c, #5c209c, #61299c, #66329c, #6b3a9c);
    height: 35vh;
    min-height: 200px;
    width: 100%;
    z-index: 200;
    position: relative;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;

   
}
.line {
    width: 60%;
    height: 3px;
    background-color: white;
    margin-top: -5%;
    position: relative;
}
.footerLinks {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
}
.footerCase, .footerAboutMe {
    margin: 1% 10%;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}


@media only screen and (max-width: 1260px) {
    #Portfolio {
        font-size: 360px;
    } 
    .pronunciation {
        top: 30%;
    }
    .jumbo1 {
        margin-bottom: -335px;
        background-position: center bottom;
    }
    .skillsSectionREDO {
        top: -20%;
    }
}

@media only screen and (max-width: 1024px) {
    #Portfolio {
        font-size: 290px;
    } 

    .jumbo1 {
        margin-bottom: -280px;
        width: 100%;
}
}

@media only screen and (max-width: 768px) {

    .jumbo1 {
        background-position: right bottom;
   
    }
    .Nathaniel {
        display: flex;
        flex-direction: column;
    }
    .pronunciation {
        top: 55%;
    }
    #Portfolio {
        font-size: 214px;
        left: -28px;

    }
}
@media only screen and (max-width: 375px) {
    
    body {
        position: absolute;
        width: 147vw;

     
     
    }
    .jumbo1 {
        background-position: right bottom;
  
        margin-bottom: -143px;
        height: 500px;
    }

    .Nathaniel {
        font-size: 90px;
        top: 2%;
    }    
    .pronunciation {
        top: 8%;
        
    }
    .skillsSectionREDO {
        top: -10%;
    }
.cardSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card {
    height: 213px;
    width: 334px;
    margin: 250px auto;
}
.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
#Portfolio {
    font-size: 155px;
    left: -22px;
}
.cardSecTop {
    margin-top: -200px;
}
.skillsButton {
    width: 20%;
    height: 90%;
}
#AboutMe h1, #AboutMe p {
    text-align: center;
}
}